# Python virtual environments
venv/
.env/
.venv/

# Environment Variables / Secrets
.env
.env.local
.env.*.local
.streamlit/secrets.toml

# Do NOT ignore the example secrets file
!.streamlit/secrets.toml.example

# Python cache
__pycache__/
**pycache**/
*.pyc
*.pyo
*.pyd

# Mac files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log